body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    text-align: center;
    color: #116cc5;
}

table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid black;
}

th {
    background-color: #47a2f1;
    color: white;
    font-weight: bold;
}

td {
    background-color: #f9f9f9;
}